.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0px;
  .left {
    .logo {
      color: #333333;
      font-family: DM Sans;
      font-size: 40px;
      font-weight: 400;
      line-height: 48px;
      letter-spacing: 0px;
      text-align: left;
      text-decoration: none;
    }
  }
  .right {
    a {
      color: #333333;
      text-decoration: none;
      margin-left: 50px;
      font-family: DM Sans;
      font-size: 16px;
      font-weight: 400;
      line-height: 32px;
      letter-spacing: 0px;
      text-align: right;

      &:hover {
        text-decoration: underline;
      }
    }
  }
}

.text {
  font-family: "DM Sans";
  font-size: 62px;
  font-weight: 400;
  line-height: 80px;
  letter-spacing: 0px;
  text-align: left;
  padding: 10px 0px 40px 0px;
}
